<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WSExportaFichero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AtosService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BasicHttpsBinding_AtosService">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_AtosService1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="BasicHttpsBinding_AtosService1">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://alpecpapp1vt.argon.corp.ch:4431/ECP.WebServices-RequestTesting/AtosService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AtosService" contract="SrvFacturadorAuthSecuredTest.AtosService" name="BasicHttpBinding_AtosService"/>
      <endpoint address="https://ecp-test.alpiq.com/ECP.WebServices-RequestTesting/AtosService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_AtosService" contract="SrvFacturadorAuthSecuredTest.AtosService" name="BasicHttpsBinding_AtosService"/>
      <endpoint address="http://alpecpapp1vt.argon.corp.ch:4431/ECP.WebServices/AtosService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AtosService1" contract="SrvFacturadorAuthSecuredPro.AtosService" name="BasicHttpBinding_AtosService1"/>
      <endpoint address="https://ecp-test.alpiq.com/ECP.WebServices/AtosService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_AtosService1" contract="SrvFacturadorAuthSecuredPro.AtosService" name="BasicHttpsBinding_AtosService1"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WSExportaFichero.Properties.Settings>
      <setting name="WSExportaFichero_ServicioFacturadorPre_AtosService" serializeAs="String">
        <value>http://ecp-test.alpiq.com:4431/ECP.WebServices-NoAuth/AtosService.svc</value>
      </setting>
      <setting name="WSExportaFichero_ServicioFacturadorNoAuthSecuredPre_AtosService" serializeAs="String">
        <value>https://ecp-test.alpiq.com/ECP.WebServices-NoAuth/AtosService.svc</value>
      </setting>
      <setting name="WSExportaFichero_ServicioFacturadorAuthSecuredPre_AtosService" serializeAs="String">
        <value>https://ecp-test.alpiq.com/ECP.WebServices/AtosService.svc</value>
      </setting>
    </WSExportaFichero.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
