<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebClientesImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.24.58.132:8083/acciona_ws_web_clientes/WebClientes"
                binding="basicHttpBinding" bindingConfiguration="WebClientesImplServiceSoapBinding"
                contract="ServicioEms.WebClientes" name="WebClientesImplPort" />
        </client>
    </system.serviceModel>
</configuration>