<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Entorno Desarrollo -->
    <!--<add key="CrmServer" value="1281DF24166947257FBCBB3A724580C5C2DDCF6F2022955035F546661AD517A2912F541B8AB2230C"/>
    <add key="OrgName" value="30ED617CBF9ABC47"/>
    <add key="User" value="7C52CDC959E3DEBDE98415907BD8A47BE1A9073971C12579C43A49C2956826D7D927E4A51562A1CB"/>
    <add key="Pass" value="E5848A83079102778AA046424B7B79FD"/>
    <add key="Clave_Encriptacion" value="33lCd3d3D3534"/>

    <add key="dirFichs" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas"/>
    <add key="dirLog" value="C:\Remoto\Interfaces\AlpiqInterfaces\Atos_Logs\ATR-Gas"/>
    <add key="dirFichsErrores" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas\ERRORES"/>
    <add key="dirFichsProcesados" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas\PROCESADOS"/>

    <add key="ATR_MAP" value=""/>-->
    
    <!-- Fin Entorno Desarrollo -->

    <!-- Entorno Preproduccion -->
    <!--
    <add key="CrmServer" value="BD0DC3C65F903E38C151F69D48A7B1FE8745A210E356E1029C69AEC4BC4341C1517692A96E932B0C8EE32181D54BC1B9"/>
    <add key="OrgName" value="BED006EC9B0F2D87"/>
    <add key="User" value="F239DD218EF7617C16EE6DFA9EF8965F9E3A7C17A84E48B6DDA918A850AEA8F88EE32181D54BC1B9"/>
    <add key="Pass" value="9306CE91D35ECE98D4530C84EF1E2123"/>
    <add key="Clave_Encriptacion" value="33lCd3d3Pr334"/>

    <add key="dirFichs" value="S:\ATR\Gas\Recibidos"/>
    <add key="dirLog" value="C:\Sistema_Comercial\Logs\ATR\Gas"/>
    <add key="dirFichsErrores" value="S:\ATR\Gas\Recibidos\Erroneos"/>
    <add key="dirFichsProcesados" value="S:\ATR\Gas\Recibidos\Procesados"/>  
    
    <add key="ATR_MAP" value="C:/Sistema_Comercial/App/netcmd.bat"/>
    
    -->
    <!-- Fin Entorno Preproduccion -->

    <!-- Entorno Produccion -->
    
    <add key="CrmServer" value="91CE1B279A60FEC310E7DA24C4B31E3EB1EEC730BD9C7EB8EB9FB4820B1F376416F9CB56CB3AF8BF"/>
    <add key="OrgName" value="3D1E4348A07BE41E"/>
    <add key="User" value="8F0464ADA28FDDD4663398A7614C6D70AD0BDD13A8F90A412F45C3F08DAD19C55DF1326EA8821291"/>
    <add key="Pass" value="5BA291DE8A29EC7A9F574BEF8985DEA9"/>
    <add key="Clave_Encriptacion" value="33lCd3d3Pr034"/>	
	
    <add key="dirFichs" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas"/>
    <add key="dirFichsNoUri" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas"/>
    <add key="dirLog" value="C:\Remoto\Interfaces\AlpiqInterfaces\Atos_Logs\ATR-Gas"/>
    <add key="dirFichsErrores" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas\ERRORES"/>
    <add key="dirFichsProcesados" value="C:\Remoto\Interfaces\AlpiqInterfaces\ATR-Gas\PROCESADOS"/> 
    
    <add key="ATR_MAP" value=""/>
    
    
    <!-- Fin Entorno Produccion -->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
